# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
*.swp

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Postgres init (local only, not needed by other devs)
init.sql

# Spring Boot devtools
.spring-boot-devtools.properties


run.bat